.header__nav_active-desktop {
    display: flex;
    column-gap: 24px;
    align-items: baseline;
}

@media screen and (max-width: 767px) {
    .header__nav_active-desktop {
        display: none;
    }
}