.auth__text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 15px;
    text-decoration: none;
}